/* GENERAL SETTINGS */

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Inter', sans-serif; }




body { background-color: #d9fff2; display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; }








.container { width: 90%; max-width: 1200px; margin: 22px; padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0 255 167); }


#upload-section { width: 100%; display: flex; justify-content: center; padding: 40px 20px; }



#upload-section .panel-wrapper { background-color: #ffffff; padding: 30px 25px; border-radius: 12px; box-shadow: 0 6px 15px rgb(0 123 81); width: 100%; max-width: 500px; margin: 20px; text-align: center; }



#upload-section .panel-wrapper h2 { font-size: 28px; color: #333; margin-bottom: 25px; }



#upload-form { display: flex; flex-direction: column; align-items: center; gap: 10px; width: 100%; }







#file-input { display: none; }



#upload-section .file-btn { display: inline-block; padding: 10px 20px; background-color: #00c1a3; color: #ffffff; font-weight: 600; border-radius: 8px; cursor: pointer; transition: background-color 0.3s ease; margin-right: 10px; text-decoration: none; outline: none; border: none; }



#file-name { display: block; margin-top: 0px; margin-left: 0px; margin-right: 7px; margin-bottom: 0px; font-size: 15px; color: #555; font-weight: 700; }



#upload-form button[type="submit"] { padding: 10px 25px; background-color: #007bff; color: white; font-weight: 600; border: none; border-radius: 8px; cursor: pointer; transition: background-color 0.3s ease; margin-top: 15px; outline: none; }











#result-section { width: 100%; display: flex; justify-content: center; padding: 40px 20px; }



#result-section .panel-wrapper { background-color: #ffffff; padding: 30px 25px; border-radius: 12px; box-shadow: 0 6px 15px rgb(0 123 81); width: 100%; max-width: 500px; margin: 20px; text-align: center; }



#result-section .panel-wrapper h2 { font-size: 28px; color: #333; margin-bottom: 25px; }



#summary-output { text-align: left; font-size: 15px; color: #555; line-height: 2.2; padding: 10px; border: 1px solid #e0e0e0; border-radius: 10px; background-color: #f9f9f9; min-height: 80px; }










#error-box { width: 90%; max-width: 1200px; margin-top: 30px; margin-bottom: 25px; margin-left: 0px; margin-right: 0px; padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0 255 167); display:none; }



#error-box h3 { color: #d32f2f; font-size: 25px; margin-bottom: 15px; }



#error-box .table-responsive { overflow-x: auto; }



#error-box table { width: 100%; border-collapse: collapse; font-size: 15px; }



#error-box table thead { background-color: #f8d7da; }



#error-box table th { padding: 8px 12px; text-align: left; font-weight: 600; border: 1px solid #f5c6cb; }



#error-box table td { padding: 8px 12px; border: 1px solid #f5c6cb; }



#error-box table tbody tr:hover { background-color: #ffe5e5; }






#row-details { display: none; width: 90%; margin-top: 25px; max-width: 800px; max-height: 300px; overflow-y: auto; margin-bottom: 50px; }


 

#row-details h3 { font-size: 23px; margin-bottom: 15px; color: #333; font-weight: 700; text-align: center; }




#row-details table { text-align:center; width: 100%; border-collapse: collapse; table-layout: fixed; }








#row-details table th { padding: 10px 12px; border: 1px solid #004b31; text-align: center; }




.row-number { display: flex; width: 20px; text-align: center; font-weight: 600; color: #333; margin-right: 5px; font-size: 16px; }




#row-details table td { padding: 10px 12px; border: 1px solid #004b31; text-align: left; }




#download-pdf { padding: 10px 20px; font-weight: 600; border-radius: 8px; cursor: pointer; border: none; background-color: #007bff; color: #ffffff; transition: background-color 0.3s ease; display: none; margin-top: 0px; margin-bottom:20px; outline:none; }


